.container {
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.4fr 0.5fr 1fr 1fr 1.5fr;
  grid-template-areas: "red red red red red"
    "orange orange orange orange orange"
    "yellow1 yellow1 yellow2 yellow2 green"
    "yellow3 yellow3 yellow4 yellow4 blue"
    "pink pink pink pink pink"
}

#red {
  background-color: red;
  grid-area: red;
  margin: 10px 10px 10px 10px;
}

#orange {
  background-color: orange;
  grid-area: orange;
  margin: 10px 10px 10px 10px;
}

#yellow1 {
  background-color: yellow;
  grid-area: yellow1;
  margin: 10px 10px 10px 10px;
}

#yellow2 {
  background-color: yellow;
  grid-area: yellow2;
  margin: 3px 3px 3px 3px;
}

#yellow3 {
  background-color: yellow;
  grid-area: yellow3;
  margin: 3px 3px 3px 3px;
}

#yellow4 {
  background-color: yellow;
  grid-area: yellow4;
  margin: 3px 3px 3px 3px;
}

#green {
  background-color: green;
  grid-area: green;
  margin: 3px 3px 3px 3px;
}

#blue {
  background-color: blue;
  grid-area: blue;
  margin: 3px 3px 3px 3px;
}

#pink {
  background-color: pink;
  grid-area: pink;
  margin: 3px 3px 3px 3px;
}
