body{
    background:black;
}

/* HEADER */

header{
    height: 80px;
    /* padding: 0px 90px; */
    box-shadow: 0px 0px 1px 0px #000;
    background:black;
    color:white;
}

header > .links{
    font-size:16px; 
    line-height:20px; 
    font-weight:400;
}

header > .links > button{
    border:none;
    background:none;
    padding:0px 10px;
}

header > .links > button > div{
    position: relative;
    color:white;
}


header > .links > button:hover > div::before, header > .links > button.active > div::before{
    content: '';
    width: 90%;
    height: 2px;
    background-color: white;
    position: absolute;
    left:5%;
    bottom:-10px;
}

header > .links > button:hover > div{
    color:#ccc;
}

header > .links > button:hover > div::before{
    background:#ccc;
}

.btn-hote{
    background:transparent;
    border-radius: 40px;
    padding:0px 15px;
    color:white;
    height: 45px;
    border:none;
    margin:0px 5px;
}

.btn-hote:hover{
    background:rgb(108, 107, 107);
}

.btn-login{
    background:white;
    color:#555;
}

.svg-icon{
    width:20px !important;
    height:20px !important;
}

.btn-login > svg{
    width: 20px !important;
    height: 20px !important;
    margin:3px;
}

/* SEARCH BAR */

.search-bar > div{
    height: 80px;
    border-radius: 70px;
    margin:50px;
}

.search-bar > div > div{
    border-radius: 30px;
    height: 80px;
    background:white;
    width: 100%;
    padding:10px 20px;
    position: relative;
}

.search-bar > div > div:hover{
    background:#eee;
    cursor: pointer;
}


.search-bar > div > div::before{
    content: '';
    width:2px;
    height: 60px;
    background:#ccc;
    position: absolute;
    left:0px;
}


.search-bar > div > div:first-child::before{
    display: none;
}

.search-bar > div > div > input {
    border:none;
    background:transparent;
    padding: 10px;
    outline: #333;
}


.ukrain-block{
    /* margin:7px; */
    /* width: 80%; */
    padding: 20px;
    border-radius: 15px;
    height: 400px;
    background:#ff385c;
    color:white;
}

.ukrain-block > button{
    margin-top: 15px;
    background:transparent;
    border:1px solid white;
    border-radius: 10px;
    color:white;
    padding: 10px;
}

.fixed-header{
    position: fixed;
    width:100%;
    top:0px;
    left: 0px;
    background:white;
    color:#333 !important;
}

.fixed-header > .links{
    display: none;
}


.fixed-header > .links{
    display: none;
}

.search-bar-scroll{
    display: none;
    align-items: center;
    justify-content: space-between;
    padding:0px 20px;
    background:white;
    width:300px;
    height: 50px;
    border-radius: 30px;
    box-shadow: 0px 0px 2px 1px #333;
    position: fixed;
    left:50%;
    top:15px;
    transform: translate(-50%);
}

.search-icon{
    background:#ff385c;
    border-radius: 100%;
    width:30px;
    height: 30px;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-bar{
    transform: translate(-130px);
    max-height: 70px;
    width: 70px;
}
.icon-bar > svg{
    width: 25px !important;
    height: 25px !important;
}

.search-bar-scroll > .search-bar > svg{
    width: 20px;
    height: 20px;
}

.search-bar-scroll-active{
    display: flex;
    animation: move .6s;
}

@keyframes move {
    from{ position: absolute; left: 50%; top: 10%; width: 80%; }
    /* to{ position: absolute; left:50%; top:90px;} */
}